.know__more__text {

    font-size: 25px;
    color: #2b2a35;
    letter-spacing: 0.024em;

}

.know__more__link {

    font-size: 16px;
    font-weight: 700;
    color: #334ac0;
    letter-spacing: 0.023em;

}