.card__text {

    font-size: 24px;
    text-align: center;
    color: #2B2A35;
    opacity: 1;
    text-transform: capitalize;
    letter-spacing: 0.55px;

}

@media only screen and (max-width: 1199px) {
    
    .card-img, .card-img-top {

        margin-left: auto !important;
        margin-right: auto !important;

    }

}